<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" th:href="@{/js/jquery-easyui-1.7.2/themes/default/easyui.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/js/jquery-easyui-1.7.2/themes/icon.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/js/jquery-easyui-1.7.2/demo/demo.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.2/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.2/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.2/locale/easyui-lang-zh_CN.js}"></script>
</head>
<body>

    <table style="font-size: 20px">
        <tr>
            <th colspan="2" align="left">扫描</th>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>100片箱（4叠 x 25片）</td>
            <td><input th:type="button" th:value="确定"></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>60片箱（4叠 x 15片）</td>
            <td><input th:type="button" th:value="确定"></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>50片箱（2叠 x 25片）</td>
            <td><input th:type="button" th:value="确定"></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>样板箱（1叠 x 11片）</td>
            <td><input th:type="button" th:value="确定"></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <th colspan="2" align="left">查询</th>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>按 Lot No</td>
            <td><input th:type="button" th:value="确定" onclick="location.href='./micro-barcode-byLotNo'"></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td>按 Micro 条码</td>
            <td><input th:type="button" th:value="确定" onclick="location.href='./micro-barcode-byMicrolot'"></td>
        </tr>
    </table>

</body>
</html>