<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->

<!--    <link type="text/css" rel="stylesheet" th:href="@{/js/jquery-easyui-1.7.2/themes/default/easyui.css}" />-->
<!--    <link type="text/css" rel="stylesheet" th:href="@{/js/jquery-easyui-1.7.2/themes/icon.css}" />-->
<!--    <link type="text/css" rel="stylesheet" th:href="@{/js/jquery-easyui-1.7.2/demo/demo.css}" />-->
<!--    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.2/jquery.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.2/jquery.easyui.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.2/locale/easyui-lang-zh_CN.js}"></script>-->
<!--    &lt;!&ndash;<script type="text/javascript" th:src="@{/static/js/jquery.serializejson.js}"></script>&ndash;&gt;-->

<!--</head>-->
<!--<body>-->

<!--    <h1>Register</h1>-->

<!--    <form th:action="@{/user/register}" method="post">-->
<!--        name:<input class="easyui-textbox" name="name"/><br>-->
<!--        password:<input class="easyui-textbox" name="password"/><br>-->
<!--        <input class="easyui-textbox" type="submit" value="提交"/><br>-->
<!--    </form>-->

<!--</body>-->
<!--</html>-->